<h1>Telegram Message</h1>
<p>Message sending API</p>
<%= link_to "Private Message", "https://api.telegram.org/bot5609590504:AAHWdpmAzwhmqcUPp0MbSHgOq6OfLvWX0lw/sendMessage?chat_id=5333385500&text=privat message", target: "_blank"%> 

<%= link_to "Group Message", "https://api.telegram.org/bot5609590504:AAHWdpmAzwhmqcUPp0MbSHgOq6OfLvWX0lw/sendMessage?chat_id=-697714982&text=group message", target: "_blank"%>


<%= button_to "Send via controller", home_group_message_path %>

<%= form_tag "/home/say_hello", method: :post do %>
<%= text_field_tag :text, nil,  required: true %>
<%= submit_tag "say hello"%>
<% end %>


