<!DOCTYPE html>
<html>
  <head>
    <title>BorinGenerator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= notice %><hr>
    <%= link_to "Home", root_path %>
    <%= link_to "Post", posts_path %>
   <hr>
    <%= yield %>
  </body>
</html>
